{% extends 'studio/base.html' %}

{% block content %}
<div class="home">
    <h1>Добро пожаловать в студию Design.pro</h1>
    <div class="auth-buttons">
        {% if user.is_authenticated %}
            <a href="">Выйти</a>
        {% else %}
            <a class="btn btn-login" href="{% url 'studio:login' %}">Вход</a> |
            <a class="btn btn-register" href="{% url 'studio:register' %}">Зарегистрироваться</a>
        {% endif %}

    </div>
    <p>Мы создаем уникальные интерьеры для вашего дома и офиса. Просмотрите наши предложения по оформлению помещений!</p>
    <p>Наши услуги:</p>
    <ul>
        <li>Проектирование интерьера</li>
        <li>Дизайн жилых и коммерческих помещений</li>
        <li>Ремонт и отделка</li>
    </ul>
</div>
{% endblock %}