{% extends 'studio/base.html' %}

{% block title %}Мои заявки{% endblock %}

{% block content %}
<div class="my-requests-container">
    <h1>Мои заявки</h1>

    {% if requests %}
        <ul class="request-list">
            {% for request in requests %}
                <li class="request-item">
                    <h2>{{ request.title }}</h2>
                    <p class="request-description">{{ request.description|truncatewords:20 }}</p>

                    <!-- Кнопка "Подробнее" для каждой заявки -->
                    <a href="{% url 'studio:request_detail' pk=request.pk %}" class="btn-detail-request">Подробнее</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас нет заявок.</p>
    {% endif %}

    <a href="{% url 'studio:create_request' %}" class="btn-create-request">Создать новую заявку</a>
</div>
{% endblock %}
